*
{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.entry_content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        flex-direction: column;

        .entry_image {
            vertical-align: top;
            margin-bottom: 22px;
            border-radius: 5px;
            @media (min-width: 320px)
            {
                width: 290px;
                height: 187.92px;
            }
            @media (min-width: 414px)
            {
                width: 384px;
                height: 248.83px;
            }
            @media (min-width: 480px)
            {
                width: 450px;
                height: 291.61px;
            }
            @media (min-width: 768px)
            {
                width: 738px;
                height: 478.25px;
            }
            @media (min-width: 1025px)
            {
                width: 770px;
                height: 499px;
            }
        }

        .entry_imagelist {
            margin-bottom: 20px;
        }

        .entry_text {
            font-size: 22px;
            font-weight: 400;
            line-height: 1.6;
            font-family: 'Nunito', sans-serif;
            color: #4a4a4a;

            letter-spacing: 0.18px;
            margin-bottom: 30px;
            @media (min-width: 1025px)
            {
                padding-left: 560px;
                padding-right: 560px;
            }
        }

        .entry_description {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.6;
            color: #4a4a4a;
            font-family: 'Nunito', sans-serif;
            margin-bottom:30px;
            @media (min-width: 1025px)
            {
                padding-left: 560px;
                padding-right: 560px;
            }
        }
}