*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    .header_container{
        padding: 0 15px;
        background-color: #111111;
        .header_1{
            max-width: 1170px;
            margin: 0 auto;
        }
        .socials{
            float: left;
            margin: 11px 0 13px;
            a{
                color: #A0A0A0;
                text-decoration: none;
                transition: ease 0.2s;
                margin-right: 15px;
            }
            :hover{
                color: #ffffff;
            }
        }
        // hamburger menu
        .hamburger_navbar{
            @media (min-width: 320px){
                display: flex;
            }
            @media (min-width: 768px){
                display: none;
            }
            justify-content: space-between;
            align-items: center;
            padding: 9px 30px 0px 10px;
            .nav-logo {
            font-size: 2.1rem;
            font-weight: 500;
            color: #482ff7;
            }
            .nav-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .nav-item {
                    .nav-link{
                        font-size: 1.3rem;
                        font-weight: 400;
                        color: #475569;
                        &:hover{
                            color: #482ff7;
                        }
                    }
                }
            }
            .hamburger {
                display: none;
                .bar {
                    display: block;
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    transition: all 0.3s ease-in-out;
                    background-color: white;
                }
            }
            @media only screen and (max-width: 768px) {
                .nav-menu {
                    position: fixed;
                    left: -100%;
                    top: 48.5px;
                    flex-direction: column;
                    background-color: #fff;
                    width: 100%;
                    border-radius: 10px;
                    text-align: center;
                    transition: 0.3s;
                    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
                }
            
                .nav-menu.active {
                    left: 0;
                }
            
                .nav-item {
                    padding: 15px;
                    width: 100%; 
                }

                .dropdown{
                    justify-content: center;
                    align-items: center;
                    float: left;
                    overflow: hidden;
                    width: 100%;
                    .dropdown_item{ 
                        font-size: 1.6rem;
                        color: white;
                        padding: 0px;
                        font-family: inherit;
                        margin: 0;
                        outline:rgba(255, 255, 255, 0.2);
                        a{
                            text-decoration: none;
                            color: #475569;
                            transition: ease 0.2s;
                            &:hover{
                                color: #1F3D83;
                            }
                             
                        }
                        .fa{
                            margin-left: 10px;
                                
                        }
                        .fa-chevron-down:before {
                            color: black;
                        }
                    }
                    .dropdown_content{
                        height: 0;
                        overflow: hidden;
                        background-color: #f9f9f9;
                        width: 100%;
                        z-index: 1;
                        transition: .5s ease;
                        display: flex;
                        flex-direction: column;
                        a{
                            float: none;
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            justify-content: center;
                            &:hover{
                                color: #1F3D83;
                            }
                        }
                        .dropdown2{
                            justify-content: center;
                            align-items: center;
                            float: left;
                            overflow: hidden;
                            width: 100%;
                            .dropdown_item{ 
                                font-size: 1.6rem;
                                color: white;
                                padding: 12px 16px;
                                font-family: inherit;
                                margin: 0;
                                outline:rgba(255, 255, 255, 0.2);
                                a{
                                    text-decoration: none;
                                    color: #475569;
                                    transition: ease 0.2s;
                                    &:hover{
                                        color: #1F3D83;
                                    }
                                }
                                &1:hover{
                                    & + .dropdown_content2{
                                        display: flex;
                                    }
                                }
                            }
                                
                            .dropdown_content2{
                                height: 0;
                                overflow: hidden;
                                background-color: #ebebeb;
                                width: 100%;
                                z-index: 1;
                                transition: .5s ease;
                                a{
                                    float: none;
                                    color: #475569;
                                    padding: 12px 16px;
                                    text-decoration: none;
                                    justify-content: center;
                                    &:hover{
                                        color: #1F3D83;
                                    }
                                } 
                            }
                            &:hover {
                                .dropdown_content2 {
                                    height: 100%;
                                }
                            }
                        }
                    }
                    &:hover{
                        .dropdown_content{
                            margin-top: 30px;
                            height: 100%;
                        }
                    }
                }
            
                .hamburger {
                    display: block;
                    margin-left: 100%;
                    cursor: pointer;
                }
            
                .hamburger.active .bar:nth-child(2) {
                    opacity: 0;
                }
            
                .hamburger.active .bar:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }
            
                .hamburger.active .bar:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }

    // PC menu
    .header_2_container{
        padding: 10px 0;
        border-bottom: 1px solid #dbdbdb;
        background-color: #fff;
        .header_2{
            background-color: white;
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
            flex: 1;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center;
            padding: 0 15px;
            .brand{
                align-items: center;
                display: flex;
                flex: auto;
                .logo{
                    display: inline-block;
                }
                .text_logo{
                    padding-left: 20px;
                    .title{
                        font-weight: 600;
                        a{
                            color: black;
                            text-decoration: none;
                        }
                    }
                    .subtext{
                        margin-top: 0.65rem;
                        font-size: 0.875rem;
                        line-height: 1;
                    }
                }
            }
            .menu{
                display: flex;
                align-items: center;
                flex: auto;
                justify-content: flex-end;
                .navbar{
                    @media (min-width: 320px) {
                        display: none;
                    }
                    @media (min-width: 768px) {
                       display: block; 
                    }
                    .navigation{
                        display: flex;
                        flex-direction: row;
                        font-size: 0.875rem;
                        font-weight: 600;
                        letter-spacing: 0.15em;
                        font-family: 'Poppins', sans-serif;
                        list-style-type: none;
                        margin: 0;
                        padding-left: 0;
                        .menu_item{
                            display: list-item;
                            margin: 1px 17px;
                            a{
                                text-decoration: none;
                                color: #A2A2A2;
                                transition: ease 0.2s;
                                &:hover{
                                    color: #1F3D83;
                                }
                            }
                        }
                        .dropdown{
                            justify-content: center;
                            align-items: center;
                            float: left;
                            overflow: hidden;
                            .dropdown_item{
                                font-size: 0.875rem; 
                                color: white;
                                padding: 0px 17px;
                                font-family: inherit;
                                margin: 0;
                                border: 1 solid #A2A2A2;
                                outline:rgba(255, 255, 255, 0.2);
                                a{
                                    text-decoration: none;
                                    color: #A2A2A2;
                                    transition: ease 0.2s;
                                    &:hover{
                                        color: #1F3D83;
                                    }
                                    .fa{
                                        margin-left: 5px;
                                    } 
                                }
                            }
                            .dropdown_content{
                                display: none;
                                position: absolute;
                                background-color: #f9f9f9;
                                min-width: 160px;
                                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                z-index: 1;
                                a{
                                    float: none;
                                    color: black;
                                    padding: 12px 16px;
                                    text-decoration: none;
                                    display: block;
                                    text-align: left;
                                    &:hover{
                                        color: #1F3D83;
                                    }
                                }
                                .dropdown2{
                                    justify-content: center;
                                    align-items: center;
                                    float: left;
                                    overflow: hidden;
                                    .dropdown_item{
                                        font-size: 0.875rem; 
                                        color: white;
                                        padding: 0px 17px;
                                        font-family: inherit;
                                        margin: 0;
                                        border: 1 solid #A2A2A2;
                                        outline:rgba(255, 255, 255, 0.2);
                                        list-style-type: none;
                                        a{
                                            text-decoration: none;
                                            transition: ease 0.2s;
                                            &:hover{
                                                color: #1F3D83;
                                            }
                                            .fa{
                                                margin-left: 5px;
                                            } 
                                        }
                                        &1:hover{
                                            & + .dropdown_content2{
                                                display: block;
                                            }
                                        }
                                    }
                                    .dropdown_content2{
                                        display: none;
                                        position: absolute;
                                        background-color: #f9f9f9;
                                        min-width: 160px;
                                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                        z-index: 10;
                                        margin-left: 100%;
                                        margin-top: -40px;
                                        a{
                                            float: none;
                                            color: black;
                                            padding: 12px 16px;
                                            text-decoration: none;
                                            display: block;
                                            text-align: left;
                                            &:hover{
                                                color: #1F3D83;
                                            }
                                        }
                                        &:hover {
                                            display: block;
                                        }
                                    }
                                   
                                }
                            }
                            &:hover{
                                .dropdown_content{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    width:100%;
    color: #BCC8CA;
    background-color: #1d222b;
    .footer_container{
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
        .footer_1{
            display: flex;
            flex-direction: row;
            padding: 70px 0;
            flex-wrap: wrap;
            .col{
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 0 15px;
                .widget{
                    .social_icons{
                        h2{
                            word-wrap: break-word;
                        }
                        a{
                            text-decoration: none;
                            word-wrap: break-word;
                            svg{
                                padding: 8px;
                                margin-right: 5px;
                                border: 1px solid #ddd;
                                border-radius: 100%;
                                &:hover{
                                    background: #1F3D83;
                                    border: 1px solid #1F3D83;
                                }
                            }
                        }
                    }
                    p{
                        font-size: 20px;
                        color: #ffffff;
                        word-wrap: break-word;
                    }
                    .links{
                        a{
                            font-size: 20px;
                            text-decoration: none;
                            color: #8DB255;
                            word-wrap: break-word;
                        }
                        :hover{
                            text-decoration: underline;
                        }
                    }
                    ul{
                        list-style: none;
                        line-height: 35px;
                        a{
                            text-decoration: none;
                            color: #ffffff;
                            font-weight: 10px;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }

        .footer_2{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 30px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            font-size: 0.9em;
            color: #fff;
            .links{
                a{
                    text-decoration: none;
                    color: #fff;
                }
                :hover{
                    text-decoration: underline;
                }
            }
        }
    }
}