body {
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
p,
a {
  font-family: 'Poppins', sans-serif;
}

.video-background {
  width: 100vw;
  height: 100vh;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.frontpage-content {
  position: absolute;
  color: #FFFFFF;
  left: 50%;
  width: 90vw;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.frontpage-content h1 {
  font-weight: bold;
  text-align: center;
}

@media (min-width: 320px) {
  .frontpage-content h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 769px) {
  .frontpage-content h1 {
    font-size: 4.3em;
  }
}

.frontpage-content .p1 {
  margin-top: 5%;
  text-align: center;
}

@media (min-width: 320px) {
  .frontpage-content .p1 {
    font-size: 1.1em;
    display: none;
    line-height: 1.6em;
  }
}

@media (min-width: 769px) {
  .frontpage-content .p1 {
    font-size: 1.2em;
    display: block;
    line-height: 1.4em;
  }
}

.frontpage-content .p2 {
  margin-top: 5%;
  text-align: center;
}

@media (min-width: 320px) {
  .frontpage-content .p2 {
    font-size: 1.1em;
    display: block;
    line-height: 1.6em;
  }
}

@media (min-width: 769px) {
  .frontpage-content .p2 {
    font-size: 1.2em;
    display: none;
    line-height: 1.4em;
  }
}

.section-title {
  color: #111;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  margin: 110px;
}

@media (min-width: 769px) {
  .section-title {
    font-size: 2.7em;
    line-height: 1.13em;
    font-weight: 700 bold;
  }
}

@media (min-width: 320px) {
  .section-title {
    font-size: 2.1em;
    line-height: 1.06em;
    font-weight: 700 bold;
  }
}

.info-section {
  background-color: #434a54;
  padding: 110px 0px;
  width: 100%;
}

.info-section h1 {
  font-weight: 700 bold;
  margin: 0 0 20px;
}

@media (min-width: 769px) {
  .info-section h1 {
    font-size: 2.7em;
    line-height: 1.13em;
  }
}

@media (min-width: 320px) {
  .info-section h1 {
    font-size: 2.1em;
    line-height: 1.06em;
  }
}

.info-section p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  text-align: center;
  color: white;
  font-size: 1.125rem;
  line-height: 1.6;
}

.button-wrap {
  display: block;
  margin-top: 80px;
}

.button-wrap span {
  text-align: center;
  display: block;
}

.button-wrap span a {
  background: #8DB255;
  border-color: #8DB255;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  padding: 25px 65px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  margin: auto;
  text-align: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.button-wrap span a:hover {
  background: #434a54;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.partners-section {
  padding-bottom: 210px;
}

@media (min-width: 320px) {
  .swiper-desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .swiper-desktop {
    display: block;
  }
}

@media (min-width: 320px) {
  .swiper-mobile {
    display: block;
  }
}

@media (min-width: 769px) {
  .swiper-mobile {
    display: none;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

.swiper {
  width: 70%;
  height: 20%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=style.css.map */